

body {
background-color: rgb(31, 31, 31);
height: 100vh;}
    .rectangle {
    display: flex;       
    align-items: center;
    gap :60px;
    width: 100%;   
    height: 80px;     
    background-color: white;
    margin-top: 15px;
    }

    .ligne {
    display: flex;       
    align-items: center;
    gap: 30px;            
    padding: 30px;
    }

    .fond {
    width: 500px;   
    height: 424px;     
        background-color: rgb(174, 121, 77);
flex-direction: column;
        border-radius: 30px;
        display: flex;       
        align-items: flex-start; 
        align-content: space-around;
        gap: 70px;           
        padding: 60px 30px 30px 30px;

    }

    .image_cercle {
        border-radius: 30px;
        width: 60px;
        height: 60px;
        display :block;
        overflow: hidden;
    }
    
    .menu_ligne{
        display: flex;          
        align-items: center;    
        gap: 20px;  
    }

.tableau {
  border-collapse: collapse;
  margin: 30px auto;
  color: white;
}

.tableau th,
.tableau td {
  border: 1px solid white;
  padding: 10px 20px;
  text-align: center;
}

.carte {
    width: 1000px;
    height: auto;
}
 
.bouton {
  width: 100px;
  background-color: rgb(174, 121, 77);
  border-radius: 10px;
  margin-left: 60px;

  font-size: 16px;
  padding: 0px 20px;

  display: flex;
  align-items: center;
  justify-content: center;
}

p {
 color: wheat;
}
article{
    padding-bottom: 50px;
}
.capymeme{
    width: 200px;   
    height: 200px; 
    padding-top: 50px;
    -ms-flex-align: center;

}
.lien{
    margin-bottom: 0%;
    margin-bottom: 0%;
}